
html, body {
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

.form-weather {
    cursor: pointer;
}

.tile.is-parent {
    padding-top: 0;
    padding-bottom: 0;
    margin: 10px 0;
}

.content .subtitle {
    margin: 6px 0;
}

.round {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: white;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.round-accueil {
    background-image: url(../../icons/home.png);
}

.round-mails {
    background-image: url(../../icons/mails.png);
}

.round-meteo {
    background-image: url(../../icons/meteo.png);
}

.round-news {
    background-image: url(../../icons/news.png);
}

.round-bank {
    background-image: url(../../icons/bank.png);
}

