
html, body {
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

body {
    min-width: 400px;
}

.round {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: white;
}

.round-accueil {
    background-image: url(../../icons/home.png);
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.round-mails {
    background-image: url(../../icons/mails.png);
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.round-meteo {
    background-image: url(../../icons/meteo.png);
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.link-tile {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
